
obj/Debug/Pokemon.csprojResolveAssemblyReference.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/Pokemon.csproj.CoreCompileInputs.cache
obj/Debug/Pokemon.csproj.FileListAbsolute.txt
obj/Debug/Pokemon.exe
obj/Debug/Pokemon.pdb
*.pdb
obj/Debug/7db35492-b7b3-4444-9684-c466542ff260_Pokemon.exe
*.exe
